	<div class="topbar" data-dropdown="dropdown" >
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Mike dg's Apps for Android</a>
          <ul class="nav">
		    {% for post in site.posts limit:6 %}
              <li class="{% if post.title == page.title  %}active{% endif %}"><a href="{{ post.url }}">{{ post.appName }}</a></li>
			{% endfor %}
	          <li class="dropdown">
	              <a href="#" class="dropdown-toggle">More Apps</a>
	              <ul class="dropdown-menu">
				    {% for post in site.posts offset:6 %}
					  <li class="{% if post.title == page.title  %}active{% endif %}"><a href="{{ post.url }}">{{ post.appName }}</a></li>
					{% endfor %}
	              </ul>
	            </li>
          </ul>
        </div>
      </div>
    </div>